doctype strict
html
	head
		title New application

		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css')
		link(rel='stylesheet', href='//cdn.rawgit.com/necolas/normalize.css/master/normalize.css')
		link(rel='stylesheet', href='//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css')
		link(rel='stylesheet', href='/public/css/main.css')

		script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
		script(src='/public/js/main.js')

	body
		div.header
			h2 This is a header

		block content

